[project]
	description = "This plugin provides extensions for easier usage with EGit.  The plugin adds a download command for EGit that allows to copy only the change ref into the clipboard. The change ref is needed for downloading a Gerrit change from within EGit.  - (mirror of https://gerrit.googlesource.com/plugins/egit)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luca Milanesio (lucamilanesio)
[access "refs/for/refs/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	push = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushTag = group user/Luca Milanesio (lucamilanesio)
	pushSignedTag = group user/Luca Milanesio (lucamilanesio)
